@charset "UTF-8";

table, th, td{
    width: 25%;
    text-align: center;
    border: 2px solid black;
}

tr#topo{
    background-color: #ff0000;
}

td{
    font-family: Arial, Helvetica, sans-serif;
}

tr{
    background-color: whitesmoke;
    
}

 tr:hover{
    background-color: #FF5E5E;
}



.rodape{
    background-color: rgba(128, 128, 128, 0.39);
}
